<table class="controls" style="display: <%= @preview_controls_css -%>;">
	<thead>
	</thead>
	<tbody>
		<tr>
			<td colspan="2">
				<%= link_to('Play',		controls_path(control: {play_state: 'play'}),		{method: :post,	class: "#{selected_if_play_state('play')}"}) -%>
				<%= link_to('Pause',	controls_path(control: {play_state: 'pause'}),	{method: :post,	class: "#{selected_if_play_state('pause')}"}) -%>
			</td>
		</tr>
		<tr>
			<th>Hold Time</th>
			<td>
				<%= form_for(@control) do |form| -%>
					<%= form.text_field(:hold_duration, class: 'numbers') -%>
					milliseconds
					<%= form.submit('Update', class: 'submit') -%>
				<%- end -%>
			</td>
		</tr>
		<tr>
			<th>Transition Time</th>
			<td>
				<%= form_for(@control) do |form| -%>
					<%= form.text_field(:transition_duration, class: 'numbers') -%>
					milliseconds
					<%= form.submit('Update', class: 'submit') -%>
				<%- end -%>
			</td>
		</tr>
		<tr>
			<th>Transition Type</th>
			<td><%= @control.transition_type -%></td>
		</tr>
	</tbody>
</table>
