<table class="controls" style="display: <%= @preview_controls_css -%>;">
	<thead>
	</thead>
	<tbody>
		<tr>
			<td colspan="2" class="buttons">
				<%= link_to('Play',		controls_path(control: {play_state: 'play'}),		{method: :post,	remote: true, class: "#{selected_if_play_state('play')}"}) -%>
				<%= link_to('Pause',	controls_path(control: {play_state: 'pause'}),	{method: :post,	remote: true, class: "#{selected_if_play_state('pause')}"}) -%>
				<%= link_to('Stop',		controls_path(control: {play_state: 'stop'}),		{method: :post,	remote: true, class: "#{selected_if_play_state('stop')}"}) -%>
			</td>
		</tr>
		<tr>
			<th>Hold Time</th>
			<td>
				<%= form_for(@control, remote: true) do |form| -%>
					<%= form.text_field(:hold_duration, class: 'numbers') -%>
					milliseconds
					<%= form.submit('Update', class: 'submit') -%>
				<%- end -%>
			</td>
			<td rowspan="2">
				<%= form_for(@control, remote: true) do |form| -%>
					<%= form.hidden_field(:hold_duration,				:value => 10000) -%>
					<%= form.hidden_field(:transition_duration,	:value => 3000) -%>
					<%= form.submit('Slow', class: 'submit') -%>
				<%- end -%>
				<%= form_for(@control, remote: true) do |form| -%>
					<%= form.hidden_field(:hold_duration,				:value => 5000) -%>
					<%= form.hidden_field(:transition_duration,	:value => 2000) -%>
					<%= form.submit('Medium', class: 'submit') -%>
				<%- end -%>
				<%= form_for(@control, remote: true) do |form| -%>
					<%= form.hidden_field(:hold_duration,				:value => 3000) -%>
					<%= form.hidden_field(:transition_duration,	:value => 1000) -%>
					<%= form.submit('Fast', class: 'submit') -%>
				<%- end -%>
				<br>
			</td>
		</tr>
		<tr>
			<th>Transition Time</th>
			<td>
				<%= form_for(@control, remote: true) do |form| -%>
					<%= form.text_field(:transition_duration, class: 'numbers') -%>
					milliseconds
					<%= form.submit('Update', class: 'submit') -%>
				<%- end -%>
			</td>
		</tr>
		<tr>
			<th>Transition Type</th>
			<td><%= @control.transition_type -%></td>
		</tr>
		<tr>
			<th>Photo Effects</th>
			<td>
				<%= form_for(@control, remote: true) do |form| -%><%= form.check_box(:effect_normal,		class: '', onclick: '$(this).submit();') -%><%= form.label(:effect_normal,		'Normal') -%><%- end -%>
				<%= form_for(@control, remote: true) do |form| -%><%= form.check_box(:effect_grayscale,	class: '', onclick: '$(this).submit();') -%><%= form.label(:effect_grayscale,	'B&W'		) -%><%- end -%>
				<%= form_for(@control, remote: true) do |form| -%><%= form.check_box(:effect_sepia,			class: '', onclick: '$(this).submit();') -%><%= form.label(:effect_sepia,			'Sepia'	) -%><%- end -%>
			</td>
		</tr>
		<tr>
			<th></th>
			<td>
				<%#= link_to('Reset Database and Rescan Photo Folders', reset_and_rescan_photos_path) -%>
				Reset Database and Rescan Photo Folders:
				<%= reset_and_rescan_photos_url -%>
			</td>
	</tbody>
</table>
