<%- set_per_action_css -%>

<div class="photo_section">
	<div class="sidebar">
		<div class="buttons">
			<%= link_to('Approve', approve_photo_path(-1), {remote: true, class: 'approve', style: "display: #{@approve_button_css};"}) -%></li>
			<%= link_to('Deny', deny_photo_path(-1), {remote: true, class: 'deny', style: "display: #{@deny_button_css};"}) -%></li>
		</div>
				
		<div class="filenames">
			<%= render(partial: 'filename', collection: photo_section) -%>
		</div>

		<div class="buttons">
			<%= link_to('Scan', scan_photos_path, {remote: true, class: 'scan', style: "display: #{@scan_button_css};"}) -%></li>
		</div>
	</div>
	
	<div class="preview">
		<img style="display: <%= @preview_img_css -%>;" src="/photos/black.png">
		<p class="caption" style="display: <%= @preview_caption_css -%>;">&nbsp;</p>
		<div class="buttons" style="position: absolute; bottom: .5em; right: .5em;">
			<%= link_to('Reset', rotate_photo_path(-1, degrees: '0'), {remote: true, class: 'rotate'}) -%>
			<br />
			<%= link_to('CCW', rotate_photo_path(-1, degrees: '90'), {remote: true, class: 'rotate'}) -%>
			<%= link_to('CW', rotate_photo_path(-1, degrees: '270'), {remote: true, class: 'rotate'}) -%>
			<br />
			<%= link_to('180', rotate_photo_path(-1, degrees: '180'), {remote: true, class: 'rotate'}) -%>
		</div>

		<%= render(partial: 'controls') -%>
	</div>

	<div class="clear_float">
	</div>
</div>
